:root {
    --ff-ascent: 'Fraunces', serif;
    --ff-base: 'Outfit', sans-serif;

    --fw-primary: 700;
    --fw-regular: 400;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    background-color: hsl(216, 12%, 8%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-group {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 320px;

    background-color: hsl(213, 19%, 18%);
    margin: 1.5rem;
    padding: 1.4rem;
    border-radius:1.2rem;
}
  
.rating-box {
    display: grid;
    gap: .9rem;
  
    /* display: none; */
}

picture {
    display: flex;
}

.title {
    font-style: var(--ff-ascent);
    font-weight: var(--fw-primary);
    font-size: 1.4rem;
    color: hsl(0, 0%, 100%);
    letter-spacing: .12rem;
}

.description {
    color:hsl(216, 12%, 54%);
    font-size: .83rem;
    line-height:1.4;
    margin-bottom: .8rem;
}

.ratings a {
    text-decoration: none;
    color:hsl(216, 12%, 54%);
    font-size: .8rem;
}

.circle {
    background-color: hsl(214, 12%, 23%);

    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-submit {
    font-size: .8rem;
    letter-spacing: .1rem;
    color: hsl(0, 0%, 100%) ;
    background-color: hsl(25, 97%, 53%);

    border: none;
    border-radius: 1.5rem;

    padding: .65rem 0;
    margin-top: .8rem;
}

.ratings .circle, .btn-submit {
    cursor: pointer;
}

.rating:hover, .rating:active {
    background-color: hsl(25, 97%, 53%);
}
.rating:hover a {
    color: hsl(0, 0%, 100%);
}

.btn-submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    transition: .5s;
}

.thank-you-box {
    display: grid;
    gap: .7rem;
    display: none;

    padding: 1.8rem;
}

.thank-you-box svg {
    display: block;
    margin: auto;
}


.result {
    text-align: center;
    margin: .8rem 0;
}

.result p {
    display: inline;
    
    color: hsl(25, 97%, 53%);
    background-color: hsl(214, 12%, 23%);

    font-size: .9rem;
    padding: .4rem;
    letter-spacing:.05rem;

    border-radius: 1rem;
}

.thank-you-box .title {
    text-align: center;
}

.thank-you-box .description {
    text-align: center;
    margin-bottom: .6rem;
}


